table{
  width: 100%;
  text-align: center;
  font-size: 15px;
  
}
th{
  
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #282c34;
  
}
tr{
  
  background-color: #b7b8bb;
  
}

body {

  background-color: #5c5d60;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


